.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont1 {
  border: 1px solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}